<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title>Astrology</title>
</head>
<body>
    <div class="container">
        <h2 class="text-center">Astro-Rel</h2>
        <form method="POST" action="">
            <table class="table table-hover">
            {% for field in form %}
                <tr>
                    {% if field.type in ['SubmitField', 'CSRFTokenField'] %}
                        <th></th>
                    {% else %}
                        <th>{{ field.label }}{% if field.flags.required %}<span class="alert-danger">*</span>{% endif %}</th>
                    {% endif %}
                    <td>{{ field }}</td>
                </tr>
            {% endfor %}
            </table>
        </form>
        {% if form.validate_on_submit() %}
            <div class="bg-info">
                There are {{ angle }} degrees between these two birthdays.
            </div>
        {% endif %}
    </div>
</body>
</html>